@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Stapel";
    src: url("/fonts/Stapel-Regular.woff2") format("woff2"),
         url("/fonts/Stapel-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  